/* Placeholder para las imágenes de los productos */
.product-img-placeholder {
  height: 150px;
  /* Altura de la imagen del producto */
  background-color: #f9f9f9;
  border-top-left-radius: 0.25rem;
  /* Hereda el border-radius de la tarjeta */
  border-top-right-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.product-img-placeholder::before {
  /* Simulación del ícono pequeño de imagen */
  content: '';
  width: 50px;
  height: 50px;
  background-color: #e0e0e0;
  border-radius: 5px;
  /* Estilos para simular el ícono dentro */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><rect fill="%23ccc" width="100" height="100"/><circle fill="%23bbb" cx="65" cy="35" r="15"/><path fill="%23bbb" d="M20 75 L35 55 L55 75 Z"/></svg>');
  background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
}

/* Estilos de botones para mayor coincidencia visual */
.custom-btn-outline {
  border-color: #ccc;
  color: #555;
  font-weight: bold;
}

.custom-btn-dark {
  background-color: #333;
  border-color: #333;
  font-weight: bold;
}

.custom-btn-dark:hover {
  background-color: #000;
  border-color: #000;
}